yt-dlp>=2025.0.0
Python 3.8+

yt-dlp

ffmpeg

(must be installed and configured)
 ## For Windows, download from https://ffmpeg.org/download.html and add to PATH with these steps:
 ## 1: unzip to C:\ffmpeg\ffmpeg-2025-09-25-git-9970dc32bf-essentials_build
 ## 2: copy path to bin folder
 ## 3: Win+R, type sysdm.cpl and hit Enter
 ## 4: go to Advanced tab and click on Environment Variables
 ## add to PATH: setx PATH " like : '%PATH%;C:\ffmpeg\ffmpeg-2025-09-25-git-9970dc32bf-essentials_build\bin' "